html
  head
    title Early Words
    link(rel="stylesheet", href="../css/style.css")
    script(src="../js/libs/p5.js")
    script(src="../js/libs/p5.sound.js")
    script(src="../js/libs/p5.dom.js")
    script(src="../js/sketch.js")
  body
    //h1 Early words



      

