html
  head
    title First Words
    link(rel="stylesheet", href="../css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
    script(src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.js")
    script(src="../js/libs/p5.dom.js")
    script(src="../js/sketch.js")
  body
    h1 First human words 

      

