html, body {
  margin: 0;
}

@font-face {
  font-family: japaneseFont;
  src: url(../assets/fonts/chi_jyun/ちはや純.ttf);
}

p {
  font-family: japaneseFont;
  margin: 30;
  padding: 10;
  font-size: 24;
}

.title {
  font-size: 30;
  text-align: center;
  font-weight: bold;
}

.artInfo {
  text-align: justify;
}

